/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */



/**
 * Documentation CSS
 */
*
  font-family: 'Montserrat', 'Noto Sans TC', 'PingFang TC', '微軟正黑體', monospace;

hr
  margin-top: 20px;
  margin-bottom: 20px;

div.theme-default-content:not(.custom)
  max-width: 1200px;
  line-height: 1.5;
  color: #E52255;

div.theme-default-content:not(.custom) h2
  margin-top: 20px;
  margin-bottom: 20px;

div.theme-default-content:not(.custom) h3
  margin-top: 5px;
  margin-bottom: 20px;

.v-application--wrap
  min-height: 0vh;
